[Desktop Entry]
Encoding=UTF-8
Name=Dorin
Comment=Dorin P2P Cryptocurrency
Comment[fr]=Dorin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Dorin, eşten eşe kriptografik sanal para birimi
Exec=dorin-qt %u
Terminal=false
Type=Application
Icon=dorin128
MimeType=x-scheme-handler/dorin;
Categories=Office;Finance;
